extends layout
block content
  section.section
        .container
            .row
                section.col-12
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href=app.host) خانه
                            if(subcategory)
                                li.breadcrumb-item.active(aria-current='page')
                                    a(href=app.host + "/" + maincategory.slug) !{maincategory.title}
                                li.breadcrumb-item.active(aria-current='page')
                                    !{subcategory.title}
                            else
                                li.breadcrumb-item.active(aria-current='page')
                                    !{maincategory.title}
                .col-12 
                    h1.py-2
                        !{title}
   section.section
        .container
            .row
                main.col-12
                    each post in posts
                        - var mainCat = post.categories.filter((a) => a.parentId === 0)[0];
                        - var subCat = post.categories.filter((a) => a.parentId !== 0)[0];
                        article.box
                            a(href="/maincat/subcat/" + post.slug, class="box__img")
                                img(data-src="/assets/images/"+ post.imageUrl, class="lazy", alt="image")
                            .box__body
                                header
                                    ul.box__categories
                                        li
                                            a(class="box__categories-item", href="/" + mainCat.slug)
                                                !{mainCat.title}
                                        li
                                            a(class="box__categories-item",  href="/" + mainCat.slug + "/" + subCat.slug)
                                                !{subCat.title}
                    
                                    h3.box__title
                                        a(href="/maincat/subcat/" + post.slug)
                                            !{post.title}
        
    
                                .box__desc
                                    span.ml-3
                                        i.icons-calendar.pl-2
                                        | در تاریخ  
                                        |!{convertToPersianDate(post.creation_time)}
                                        
                    include components/pagination
                    +pagination(pagination)