extends layout
block content
    if(chosenPosts)
        section.section.section--gray
                .container

                    .row.posts
                        .col-lg-6.col-md-12

                            .posts__main
                                h4
                                    a(href="#" ,class="lazy posts__main-link", data-bg="/assets/images/posts/post-tect-01.jpg")
                                        span.posts__main-text
                                            | آموزش نصب NodeJs

                        .col-lg-6.col-md-12
                            .posts__list
                                .media
                                    a(href="#")
                                        img(class="posts__img lazy", width="105", height="105",data-src="/assets/images/posts/post-tect-02.jpg", alt="Generic placeholder image")
                                    .media-body
                                        h4
                                            a(href="#")
                                                | بحث در مورد پی سی
                                        p.posts__desc
                                            | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه


                                .media
                                    a(href="#")
                                        img(class="posts__img lazy", width="105", height="105",data-src="/assets/images/posts/post-tect-03.jpg", alt="Generic placeholder image")
                                    .media-body
                                        h4
                                            a(href="#")
                                                | بحث در مورد پی سی
                                        p.posts__desc
                                            | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه

                                .media
                                    a(href="#")
                                        img(class="posts__img lazy", width="105", height="105",data-src="/assets/images/posts/post-tect-04.jpg", alt="Generic placeholder image")
                                    .media-body
                                        h4
                                            a(href="#")
                                                | بحث در مورد پی سی
                                        p.posts__desc
                                            | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه


                                .media
                                    a(href="#")
                                        img(class="posts__img lazy", width="105", height="105",data-src="/assets/images/posts/post-tect-05.jpg", alt="Generic placeholder image")
                                    .media-body
                                        h4
                                            a(href="#")
                                                | بحث در مورد پی سی
                                        p.posts__desc
                                            | لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه

                    .section__header.row.align-items-center
                        .col-6
                                h3.section__title
                                    | موضوعات داغ
                    each subject in subjects
                        ul.topics
                            li.topics__item
                                a(href=app.local + "/" + subject.slug)
                                    img(data-src="/assets/images/topics/post-sm-01.jpg", class="topics__img lazy", alt="image")
                                h4.topics__title
                                    a(href=app.local + "/" + subject.slug)
                                        !{subject.title}
    section.section
        .container
            .row
                main.col-xl-8.col-lg-8

                    each post in posts
                        - var mainCat = post.categories.filter((a) => a.parentId === 0)[0];
                        - var subCat = post.categories.filter((a) => a.parentId !== 0)[0];
                        article.box
                            a(href="/"+ mainCat.slug +"/" + subCat.slug +"/" + post.slug, class="box__img")
                                img(data-src="/assets/images/"+ post.imageUrl, class="lazy", alt="image")
                            .box__body
                                header
                                    ul.box__categories
                                        li
                                            a(class="box__categories-item", href="/" + mainCat.slug)
                                                !{mainCat.title}
                                        li
                                            a(class="box__categories-item",  href="/" + mainCat.slug + "/" + subCat.slug)
                                                !{subCat.title}
                    
                                    h3.box__title
                                        a(href="/"+ mainCat.slug +"/" + subCat.slug +"/" + post.slug)
                                            | !{post.title}
        
    
                                .box__desc
                                    span.ml-3
                                        i.icons-calendar.pl-2
                                        | در تاریخ  
                                        !{convertToPersianDate(post.creation_time)}
            

                    include components/pagination
                    +pagination(pagination)

                aside.col-xl-4.col-lg-4.sticky

                    .card.sidebar
                        .card-header.text-center
                            span.card-title
                                | جستجو در به مگ

                        .card-body
                            form
                                .search.form-group
                                    button(type="submit" class="search__btn")
                                        i(class="icons-search")
                                    input(type="text" class="form-control" placeholder="جستجو در به مگ")


                    .card.sidebar
                        .card-header.text-center
                            span.card-title
                            | محبوب ترین ها

                        .card-body
                        each post in popularPosts
                            - maincat = post.categories.filter(a=>a.parentId === 0)[0]
                            - subcat = post.categories.filter(a=>a.parentId !== 0)[0]
                            .media
                                img(class="sidebar__img lazy", width="80", height="80",data-src="/assets/images/posts/post-tect-01.jpg", alt="Generic placeholder image")
                                .media-body
                                    h5
                                        a(href=app.host + "/" + maincat.slug + "/" + subcat.slug + "/" + post.slug ,  class="sidebar__title")
                                            !{post.title}
                                    span.sidebar__desc
                                        i.icons-calendar.pl-1
                                        | در
                                        !{convertToPersianDate(post.creation_time)}