extends layout
block content
    section.section
        .container
            .row
                section.col-12
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href='#') خانه
                            li.breadcrumb-item
                                a(href="/" + maincat.slug) !{maincat.title}
                            li.breadcrumb-item
                                a(href="/" + maincat.slug + "/" + subcat.slug) !{subcat.title}
                            li.breadcrumb-item.active(aria-current='page')
                                | تصاویر واقعی وان پلاس 9 5G فاش شد
                article.col-xl-8.col-lg-8
                    .card.article
                        h1.article__title
                            !{post.title}
                        .article__header
                            span
                                i.icons-calendar.pr-2
                                !{post.creation_time_fa}
                            span
                                i.icons-clock.pl-1
                                | زمان تقریبی مطالعه 6 دقیقه
                        .article__elements
                            span#addLikeBtn(title='لایک')
                                i.icons-heart.article__icon
                            span#commentsBtn(title='نظرات')
                                i.icons-comment.article__icon
                            span#shareBtn(title='اشتراک گذاری')
                                i.icons-share-alt.article__icon
                        .article__text.text
                            img.lazy(data-src='/assets/images/posts/thumb.jpg')
                            !{post.description}
                            .article__tags
                            a.article__tags-item(href='#')
                                | طراحی
                            a.article__tags-item(href='#')
                                | موبایل
                            a.article__tags-item(href='#')
                                | کیف
                            a.article__tags-item(href='#')
                                | سایت
                    section#comments.my-4
                        .card.mb-4
                            .card-header.border-bottom-0.bg-transparent
                                h4.pt-3 ارسال نظر
                            .card-body
                                .alert.alert-light.mb-3
                                    | ایمیل شما منتشر نخواهد شد و در صورت پاسخ به نظر از طریق ایمیل به شما اطلاع رسانی می
                                    | شود.
                                form.custom-form
                                .form-group
                                    label(for='name')
                                        | نام شما 
                                        span.text-danger *
                                    input#name.form-control.form-control--custom(type='text' name='name')
                                .form-group
                                    label(for='email')
                                        | ایمیل 
                                        span.text-danger *
                                    input#email.form-control.form-control--custom(type='email' name='email')
                                .form-group
                                    label(for='text')
                                        | شرح نظر 
                                        span.text-danger *
                                    textarea#text.form-control.form-control--custom(rows='5' type='text' name='text')
                                .form-group
                                    input.btn.btn-primary(type='submit' value='ارسال')
                        .card.card--gray
                            .card-body
                                .comment
                                    .comment__header
                                        .comment__user
                                            img.lazy.img-fluid.comment__img(data-src='/assets/images/avatar.jpg' width='64' height='64' alt='avatar')
                                            span
                                                | پوریا ستایش
                                        .comment__date
                                            | 5 روز پیش
                                    .comment__desc
                                        | در همین راستا روز گذشته شاهد انتشار تصاویر و اطلاعات جدیدی از وان پلاس ۹ 5G
                                        | بودیم. این‌طور که به ‌نظر می‌رسد، نمونه‌ی
                                    .comment__reply
                                        a.btn.btn-sm.btn-outline-primary(href='#')
                                            | پاسخ

                aside.col-xl-4.col-lg-4.sticky
                    .card.sidebar
                        .card-header
                            span.card-title
                                | مطالب مرتبط
                        .card-body
                            each post in relatedPosts
                                .media
                                    img.sidebar__img.lazy(width='80' height='80' data-src='/assets/images/posts/post-tect-01.jpg' alt='Generic placeholder image')
                                    .media-body
                                        h5
                                            a.sidebar__title(href='#')
                                                !{post.title}
                                        span.sidebar__desc
                                            i.icons-calendar.pl-1
                                            | در
                                            !{post.creation_time_fa}
